Job: "fit_B_HI_ljet_m"
  Label: "Q #rightarrow Wb, Q = T or Y"
  CmeLabel: "13 TeV"
  LumiLabel: "139 fb^{-1}"  
  POI: "SigXsecOverSM"
  ReadFrom: HIST
  HistoPath: "/cephfs/user/s6marahm/output"
  DebugLevel: 2
  SystControlPlots: FALSE
  HistoChecks: NOCRASH
  SystPruningNorm: 0.01
  MCstatThreshold: 0.01
  ImageFormat: png
  RatioYmax: 1.4
  RatioYmin: 0.6
  SummaryPlotYmax: 1.1e5
  RankingMaxNP: 20
  CorrelationThreshold: 0.2
  UseGammaPulls: TRUE
  MergeUnderOverFlow: FALSE
  PlotOptions: NOSIG, YIELDS


Fit: "FitTWb_bkg"
  FitType: BONLY
  FitRegion: CRONLY
  FitBlind: FALSE

Limit: "LimitTWb"
  LimitBlind: FALSE


Region: "CR_I_ljet_m"
  Type: CONTROL
  VariableTitle: "Leading W-tagged jet mass [GeV]"
  Label: "CR(I)"
  %DataType: ASIMOV
  ShortLabel: "SR"
  BinWidth: 20
  HistoName: "ljet_m_0b_not_loose_Wtagged"
  Binning: 0.,20.,40.,60.,80.,100.,120.,140.,160.,180.,200.,220.,240.,260.
 

Region: "CR_H_ljet_m"
  Type: CONTROL
  VariableTitle: "Leading W-tagged jet mass [GeV]"
  Label: "CR(H)"
  %DataType: ASIMOV
  ShortLabel: "SR"
  BinWidth: 20
  HistoName: "ljet_m_0b_loose_not_tight_Wtagged"
  Binning: 0.,20.,40.,60.,80.,100.,120.,140.,160.,180.,200.,220.,240.,260.


Sample: "Data"
  Title: "Data"
  Type: DATA
  HistoFile: "abcd_data"

Sample: "ttbar"
  Type: BACKGROUND
  Title: "t#bar{t}"
  FillColor: 2
  HistoFile: "abcd_ttbar"

Sample: "singletop"
  Type: BACKGROUND
  Title: "Single top"
  FillColor: 4
  HistoFile: "abcd_Wt"

Sample: "Multijets"
  Type: BACKGROUND
  Title: "Multijet"
  FillColor: 3
  %NormFactor: "MultijetXsecOverSM",1,0.8,1.2
  HistoFile: "abcd_dijets"

Sample: "Wjets"
  Type: BACKGROUND
  Title: "W+jets"
  FillColor: 6
  HistoFile: "abcd_Wjets"

Sample: "Zjets"
  Type: BACKGROUND
  Title: "Z+jets"
  FillColor: 5 
  HistoFile: "abcd_Zjets"

Sample: "Signal"
  Type: SIGNAL
  Title: "VLQ"
  FillColor: 5 
  HistoFile: "abcd_312335"
  NormFactor: "SigXsecOverSM",1,0.8,1.2

ShapeFactor: "S_ljet_m_HI"
  Samples: Multijets
  Regions: CR_I_ljet_m,CR_H_ljet_m
  Title: "MultijetXsec_ljet_m_HI"

NormFactor: "N_ttbar_ljet_m_HI"
  Samples: ttbar
  Regions: CR_I_ljet_m,CR_H_ljet_m
  Title: "ttbarXsec_ljet_m_HI"
  Nominal: 1
  Min: 1.
  Max: 1.
  Constant: TRUE

NormFactor: "N_singletop_ljet_m_HI"
  Samples: singletop
  Regions: CR_I_ljet_m,CR_H_ljet_m
  Title: "singletopXsec_ljet_m_HI"
  Nominal: 1
  Min: 1.
  Max: 1.
  Constant: TRUE

NormFactor: "N_Wjets_ljet_m_HI"
  Samples: Wjets
  Regions: CR_I_ljet_m,CR_H_ljet_m
  Title: "WjetsXsec_ljet_m_HI"
  Nominal: 1
  Min: 1.
  Max: 1.
  Constant: TRUE

NormFactor: "N_Zjets_ljet_m_HI"
  Samples: Zjets
  Regions: CR_I_ljet_m,CR_H_ljet_m
  Title: "ZjetsXsec_ljet_m_HI"
  Nominal: 1
  Min: 1.
  Max: 1.
  Constant: TRUE


