Job: "fit_B_HI_VLQM"
  Label: "Q #rightarrow Wb, Q = T or Y"
  CmeLabel: "13 TeV"
  LumiLabel: "139 fb^{-1}"  
  POI: "SigXsecOverSM"
  ReadFrom: HIST
  HistoPath: "/cephfs/user/s6marahm/output"
  DebugLevel: 2
  SystControlPlots: FALSE
  HistoChecks: NOCRASH
  SystPruningNorm: 0.01
  MCstatThreshold: 0.01
  ImageFormat: png,eps
  RatioYmax: 1.4
  RatioYmin: 0.6
  SummaryPlotYmax: 1.1e5
  RankingMaxNP: 20
  CorrelationThreshold: 0.2
  UseGammaPulls: TRUE
  MergeUnderOverFlow: FALSE
  PlotOptions: NOSIG, YIELDS


Fit: "FitTWb_bkg"
  FitType: BONLY
  FitRegion: CRONLY
  FitBlind: FALSE

Limit: "LimitTWb"
  LimitBlind: FALSE


Region: "CR_I_VLQM"
  Type: CONTROL
  VariableTitle: "VLQ mass [GeV]"
  Label: "CR(C)"
  %DataType: ASIMOV
  ShortLabel: "SR"
  BinWidth: 100
  HistoName: "VLQM_0b_not_loose_Wtagged"
  %Binning: 400.,1000.,1100.,1200.,1300.,1400.,1500.,1600.,1700.,1800.,1900.,2000.,2100.,2200.,2300.,2400.,2500.,3400.
  Binning: 800.,900.,1000.,1100.,1200.,1300.,1400.,1500.,1600.,1700.,1800.,1900.,2000.,2100.,2200.,2300.,2400.,2500.,3400.
 

Region: "CR_H_VLQM"
  Type: CONTROL
  VariableTitle: "VLQ mass [GeV]"
  Label: "CR(D)"
  %DataType: ASIMOV
  ShortLabel: "SR"
  BinWidth: 100
  HistoName: "VLQM_0b_loose_not_tight_Wtagged"
  %Binning: 400.,1000.,1100.,1200.,1300.,1400.,1500.,1600.,1700.,1800.,1900.,2000.,2100.,2200.,2300.,2400.,2500.,3400.
  Binning: 800.,900.,1000.,1100.,1200.,1300.,1400.,1500.,1600.,1700.,1800.,1900.,2000.,2100.,2200.,2300.,2400.,2500.,3400.


Sample: "Data"
  Title: "Data"
  Type: DATA
  HistoFile: "abcd_data"

Sample: "ttbar"
  Type: BACKGROUND
  Title: "t#bar{t}"
  FillColor: 2
  HistoFile: "abcd_ttbar"

Sample: "singletop"
  Type: BACKGROUND
  Title: "Single top"
  FillColor: 4
  HistoFile: "abcd_Wt"

Sample: "Multijets"
  Type: BACKGROUND
  Title: "Multijet"
  FillColor: 3
  %NormFactor: "MultijetXsecOverSM",1,0.8,1.2
  HistoFile: "abcd_dijets"

Sample: "Wjets"
  Type: BACKGROUND
  Title: "W+jets"
  FillColor: 6
  HistoFile: "abcd_Wjets"

Sample: "Zjets"
  Type: BACKGROUND
  Title: "Z+jets"
  FillColor: 5 
  HistoFile: "abcd_Zjets"

Sample: "Signal"
  Type: SIGNAL
  Title: "VLQ"
  FillColor: 5 
  HistoFile: "abcd_312335"
  NormFactor: "SigXsecOverSM",1,0.8,1.2

ShapeFactor: "S_VLQM_HI"
  Samples: Multijets
  Regions: CR_I_VLQM,CR_H_VLQM
  Title: "MultijetXsec_VLQM_HI"

NormFactor: "N_ttbar_VLQM_HI"
  Samples: ttbar
  Regions: CR_I_VLQM,CR_H_VLQM
  Title: "ttbarXsec_VLQM_HI"
  Nominal: 1
  Min: 1.
  Max: 1.
  Constant: TRUE

NormFactor: "N_singletop_VLQM_HI"
  Samples: singletop
  Regions: CR_I_VLQM,CR_H_VLQM
  Title: "singletopXsec_VLQM_HI"
  Nominal: 1
  Min: 1.
  Max: 1.
  Constant: TRUE

NormFactor: "N_Wjets_VLQM_HI"
  Samples: Wjets
  Regions: CR_I_VLQM,CR_H_VLQM
  Title: "WjetsXsec_VLQM_HI"
  Nominal: 1
  Min: 1.
  Max: 1.
  Constant: TRUE

NormFactor: "N_Zjets_VLQM_HI"
  Samples: Zjets
  Regions: CR_I_VLQM,CR_H_VLQM
  Title: "ZjetsXsec_VLQM_HI"
  Nominal: 1
  Min: 1.
  Max: 1.
  Constant: TRUE
