Job: "TWB_0L_sig_injection_VR_3var"
  Label: "Q #rightarrow Wb, Q = T or Y"
  CmeLabel: "13 TeV"
  AtlasLabel: "Internal"
  LumiLabel: "139 fb^{-1}"  
  POI: "SigXsecOverSM"
  ReadFrom: HIST
  HistoPath: "/cephfs/user/s6marahm/output_3var_PFlow_bjetpt_350/output"
  DebugLevel: 2
  SystControlPlots: TRUE
  HistoChecks: NOCRASH
  SystPruningNorm: 0.01
  MCstatThreshold: 0.01
  ImageFormat: eps,png
  RatioYmax: 1.4
  RatioYmin: 0.6
  SummaryPlotYmax: 1.1e5
  RankingMaxNP: 20
  CorrelationThreshold: 0.2
  UseGammaPulls: TRUE
  MergeUnderOverFlow: TRUE
  PlotOptions: "NOSIG","YIELDS"

Fit: "FitTWb_bkg"
  FitType: SPLUSB
  FitRegion: CRSR
  FitBlind: TRUE
  POIAsimov: 1

Limit: "LimitTWb"
  LimitBlind: TRUE

Region: "VR_A_VLQM"
  Type: SIGNAL
  VariableTitle: "VLQ mass [GeV]"
  Label: "VR(A)"
  DataType: ASIMOV
  ShortLabel: "VR"
  BinWidth: 100
  %RatioYmax: 2.6
  HistoName: "VLQM_2b_loose_not_tight_Wtagged"
  %Binning: 400.,1000.,1100.,1200.,1300.,1400.,1500.,1600.,1700.,1800.,1900.,2000.,2100.,2200.,2300.,2400.,2500. 


Sample: "ttbar"
  Type: BACKGROUND
  Title: "t#bar{t}"
  FillColor: 2
  HistoFile: "abcd_ttbar"

Sample: "singletop"
  Type: BACKGROUND
  Title: "Single top"
  FillColor: 4
  HistoFile: "abcd_Wt"

Sample: "Multijets"
  Type: BACKGROUND
  Title: "Multijet"
  FillColor: 3
  HistoFile: "abcd_output_postfit_binbybin"

Sample: "Wjets"
  Type: BACKGROUND
  Title: "W+jets"
  FillColor: 6
  HistoFile: "abcd_Wjets"

Sample: "Zjets"
  Type: BACKGROUND
  Title: "Z+jets"
  FillColor: 5 
  HistoFile: "abcd_Zjets"

Sample: "gc"
  Type: SIGNAL
  Title: "1.5 TeV x 20 (#kappa = 0.5)"
  LineColor: 1
  FillColor: 1
  NormFactor: "SigXsecOverSM",1,0,100
  HistoPath: "/cephfs/user/s6marahm/output_3var_PFlow_bjetpt_350/output_sig_0.5"
  HistoFile: "abcd_312337"
  HistoName: "VLQM_2b_loose_not_tight_Wtagged"

Systematic: "PrefitBinbybin"
  Title: "Prefit Binbybin"
  Type: HISTO
  Samples: Multijets
  %Category: "Shape"
  Symmetrisation: ONESIDED
  HistoFileDown: "abcd_output_prefit_binbybin"

%Systematic: "DijetsClosure"
%  Title: "Multijet Closure"
%  Type: HISTO
%  Samples: Multijets
%  Category: "Shape"
%  Symmetrisation: ONESIDED
%  HistoPathDown: "/cephfs/user/s6marahm/output"
%  HistoFileDown: "abcd_output_dijets_closure_uncertainity"

Systematic: "DijetsShape"
  Title: "Multijet MC shape"
  Type: HISTO
  Samples: Multijets
  %Category: "Shape"
  Symmetrisation: ONESIDED
  HistoFileUp: "abcd_dijets"
  DropNorm: Multijets
  Smoothing: 40

Systematic: "Crossection"
  Title: "Cross-section (other bkgs)"
  Type: HISTO
  Samples: Multijets
  Symmetrisation: ABSMEAN
  HistoPathUp: "/cephfs/user/s6marahm/output_3var_PFlow_bjetpt_350/output_crossection_up"
  HistoPathDown: "/cephfs/user/s6marahm/output_3var_PFlow_bjetpt_350/output_crossection_down"
  HistoFileUp: "abcd_output_prefit_binbybin"
  HistoFileDown: "abcd_output_prefit_binbybin"

Systematic: "EigenvarsB"
  Title: "Eigenvars B"
  Type: HISTO
  Samples: Multijets
  Symmetrisation: ABSMEAN
  HistoFileUp: "abcd_output_prefit_binbybin_eigenvars_B_up"
  HistoFileDown: "abcd_output_prefit_binbybin_eigenvars_B_down"


Systematic: "EigenvarsC"
  Title: "Eigenvars C"
  Type: HISTO
  Samples: Multijets
  Symmetrisation: ABSMEAN
  HistoFileUp: "abcd_output_prefit_binbybin_eigenvars_C_up"
  HistoFileDown: "abcd_output_prefit_binbybin_eigenvars_C_down"

Systematic: "EigenvarsLight"
  Title: "Eigenvars Light"
  Type: HISTO
  Samples: Multijets
  Symmetrisation: ABSMEAN
  HistoFileUp: "abcd_output_prefit_binbybin_eigenvars_Light_up"
  HistoFileDown: "abcd_output_prefit_binbybin_eigenvars_Light_down"

Systematic: "Extrapolation"
  Title: "Extrapolation"
  Type: HISTO
  Samples: Multijets
  Symmetrisation: ABSMEAN
  HistoFileUp: "abcd_output_prefit_binbybin_extrapolation_up"
  HistoFileDown: "abcd_output_prefit_binbybin_extrapolation_down"

Systematic: "ExtrapolationfromCharm"
  Title: "Extrapolation from charm"
  Type: HISTO
  Samples: Multijets
  Symmetrisation: ABSMEAN
  HistoFileUp: "abcd_output_prefit_binbybin_extrapolation_from_charm_up"
  HistoFileDown: "abcd_output_prefit_binbybin_extrapolation_from_charm_down"

Systematic: "EigenvarsB"
  Title: "Eigenvars B"
  Type: HISTO
  Samples: ttbar, Wjets, Zjets, singletop
  Symmetrisation: ABSMEAN
  HistoPathUp: "/cephfs/user/s6marahm/output_3var_PFlow_bjetpt_350/output_weight_bTagSF_MV2c10_70_eigenvars_B_up"
  HistoPathDown: "/cephfs/user/s6marahm/output_3var_PFlow_bjetpt_350/output_weight_bTagSF_MV2c10_70_eigenvars_B_down"

Systematic: "EigenvarsC"
  Title: "Eigenvars C"
  Type: HISTO
  Samples: ttbar, Wjets, Zjets, singletop
  Symmetrisation: ABSMEAN
  HistoPathUp: "/cephfs/user/s6marahm/output_3var_PFlow_bjetpt_350/output_weight_bTagSF_MV2c10_70_eigenvars_C_up"
  HistoPathDown: "/cephfs/user/s6marahm/output_3var_PFlow_bjetpt_350/output_weight_bTagSF_MV2c10_70_eigenvars_C_down"

Systematic: "EigenvarsLight"
  Title: "Eigenvars Light"
  Type: HISTO
  Samples: ttbar, Wjets, Zjets, singletop
  Symmetrisation: ABSMEAN
  HistoPathUp: "/cephfs/user/s6marahm/output_3var_PFlow_bjetpt_350/output_weight_bTagSF_MV2c10_70_eigenvars_Light_up"
  HistoPathDown: "/cephfs/user/s6marahm/output_3var_PFlow_bjetpt_350/output_weight_bTagSF_MV2c10_70_eigenvars_Light_down"

Systematic: "Extrapolation"
  Title: "Extrapolation"
  Type: HISTO
  Samples: ttbar, Wjets, Zjets, singletop
  Symmetrisation: ABSMEAN
  HistoPathUp: "/cephfs/user/s6marahm/output_3var_PFlow_bjetpt_350/output_weight_bTagSF_MV2c10_70_extrapolation_up"
  HistoPathDown: "/cephfs/user/s6marahm/output_3var_PFlow_bjetpt_350/output_weight_bTagSF_MV2c10_70_extrapolation_down"

Systematic: "ExtrapolationfromCharm"
  Title: "Extrapolation from charm"
  Type: HISTO
  Samples: ttbar, Wjets, Zjets, singletop
  Symmetrisation: ABSMEAN
  HistoPathUp: "/cephfs/user/s6marahm/output_3var_PFlow_bjetpt_350/output_weight_bTagSF_MV2c10_70_extrapolation_from_charm_up"
  HistoPathDown: "/cephfs/user/s6marahm/output_3var_PFlow_bjetpt_350/output_weight_bTagSF_MV2c10_70_extrapolation_from_charm_down"

Systematic: "ttbarXs"
  Title: "t#bar{t} xs"
  Type: OVERALL
  Samples: ttbar
  OverallUp: 0.024
  OverallDown: -0.035
 
Systematic: "singletopXs"
  Title: "sgtop xs"
  Type: OVERALL
  Samples: singletop
  OverallUp: 0.025
  OverallDown: -0.025

Systematic: "Wjets"
  Title: "W+jets xs"
  Type: OVERALL
  Samples: "Wjets"
  OverallUp: 0.06
  OverallDown: -0.06

Systematic: "Zjets"
  Title: "Z+jets xs"
  Type: OVERALL
  Samples: "Zjets"
  OverallUp: 0.06
  OverallDown: -0.06
