Job: "TWB_0L_systematics_VR"
  Label: "Q #rightarrow Wb, Q = T or Y"
  CmeLabel: "13 TeV"
  LumiLabel: "139.1 fb^{-1}"  
  POI: "SigXsecOverSM"
  ReadFrom: HIST
  HistoPath: "/cephfs/user/s6marahm/output"
  DebugLevel: 0
  SystControlPlots: TRUE
  HistoChecks: NOCRASH
  SystPruningNorm: 0.01
  MCstatThreshold: 0.01
  ImageFormat: eps,png
  RatioYmax: 2.0
  RatioYmin: 0.0
  SummaryPlotYmax: 1.1e5
  RankingMaxNP: 20
  CorrelationThreshold: 0.2
  UseGammaPulls: TRUE
  PlotOptions: "NOSIG","YIELDS"
  MergeUnderOverFlow: FALSE


Fit: "FitTWb_bkg"
  FitType: BONLY
  FitRegion: CRSR
  FitBlind: FALSE

Limit: "LimitTWb"
  LimitBlind: FALSE

Options: "myOptions"
  LegendNColumns: 1

 
Region: "VR_A_ljet_pt"
  Type: SIGNAL
  VariableTitle: "Leading W-tagged jet p_{T} [GeV]"
  Label: "VR(A)"
  %DataType: ASIMOV
  ShortLabel: "SR"
  BinWidth: 50
  %RatioYmax: 1.0
  HistoName: "ljet_pt_2b_loose_not_tight_Wtagged"
  %Binning: 400.,450.,500.,550.,600.,650.,700.,800.,850.,900,1400.
  %Binning: 400,480,620,660,720,800,1100
  %Binning: 400,440,460,480,500,540,560,580,600,620,640,660,680,700,720,740,760,780,800,820,840,860,880,900,920,940,960,980,1000,1020,1040,1060,1080,1100
 
 
Region: "VR_A_jet_pt"
  Type: SIGNAL
  VariableTitle: "Leading b-jet p_{T} [GeV]"
  Label: "VR(A)"
  %DataType: ASIMOV
  ShortLabel: "SR"
  BinWidth: 100
  %RatioYmax: 3.0
  HistoName: "jet_pt_2b_loose_not_tight_Wtagged"
  %Binning: 200.,600.,800.,1200.
  %Binning: 200,450,475,500,525,550,575,600,625,650,675,700,725,750,775,800,825,850,875,900,925,950,975,1000,1025,1050,1075,1100,1125,1150,1175,1200
  %Binning: 200,450,600,750,1075,1200
 
 
Region: "VR_A_VLQM"
  Type: SIGNAL
  VariableTitle: "VLQ mass [GeV]"
  Label: "VR(A)"
  %DataType: ASIMOV
  ShortLabel: "SR"
  BinWidth: 100
  %RatioYmax: 2.6
  HistoName: "VLQM_2b_loose_not_tight_Wtagged"
  %Binning: 0.,125.,250.,375.,1250.,1375.,1500.,1625.,1750.,1875.,2500.
  %Binning: 593.75,1031.25,1062.5,1093.75,1125.,1156.25,1187.5,1218.75,1250.,1281.25,1312.5,1343.75,1375.,1406.25,1437.5,1468.75,1500.,1531.25,1562.5,1593.75,1625.,1656.25,1687.5,1718.75,1750.,1781.25,1812.5,1843.75,1875.,1906.25,1937.5,1968.75,2000.,2031.25,2062.5,2093.75,2125.,2156.25,2187.5,2218.75,2250.,2281.25,2312.5,2343.75,2375.,2406.25,2437.5,2468.75,2500
  %Binning: 593.75,1093.75,1343.75,1718.75,2500


Region: "VR_A_ljet_eta"
  Type: SIGNAL
  VariableTitle: "Leading W-tagged jet #eta"
  Label: "VR(A)"
  %DataType: ASIMOV
  ShortLabel: "SR"
  BinWidth: 0.5
  %RatioYmax: 2.5
  HistoName: "ljet_eta_2b_loose_not_tight_Wtagged"  
  %Binning: -2.5,-2.1,-1.7,-0.3,0.3,0.9,2.1,2.5 
 
 
Region: "VR_A_ljet_m"
  Type: SIGNAL
  VariableTitle: "Leading W-tagged jet mass [GeV]"
  Label: "VR(A)"
  %DataType: ASIMOV
  ShortLabel: "SR"
  BinWidth: 20
  %RatioYmax: 1.6
  HistoName: "ljet_m_2b_loose_not_tight_Wtagged"
  %Binning: 200,450,475,500,525,550,575,600,625,650,675,700,725,750,775,800,825,850,875,900,925,950,975,1000,1025,1050,1075,1100,1125,1150,1175,1200

 
Region: "VR_A_jet_m"
  Type: SIGNAL
  VariableTitle: "Leading b-jet mass [GeV]"
  Label: "VR(A)"
  %DataType: ASIMOV
  ShortLabel: "SR"
  BinWidth: 30
  %RatioYmax: 2.0
  HistoName: "jet_m_2b_loose_not_tight_Wtagged"
  %Binning: 200,450,475,500,525,550,575,600,625,650,675,700,725,750,775,800,825,850,875,900,925,950,975,1000,1025,1050,1075,1100,1125,1150,1175,1200


 
Sample: "Data"
  Title: "Data"
  Type: DATA
  HistoFile: "abcd_data"

Sample: "ttbar"
  Type: BACKGROUND
  Title: "t#bar{t}"
  FillColor: 2
  HistoFile: "abcd_ttbar"

Sample: "singletop"
  Type: BACKGROUND
  Title: "Single top"
  FillColor: 4
  HistoFile: "abcd_Wt"

Sample: "Wjets"
  Type: BACKGROUND
  Title: "W+jets"
  FillColor: 6
  HistoFile: "abcd_Wjets"

Sample: "Zjets"
  Type: BACKGROUND
  Title: "Z+jets"
  FillColor: 5
  HistoFile: "abcd_Zjets"

Sample: "Multijets"
  Type: BACKGROUND
  Title: "Multijet"
  FillColor: 3
  HistoFile: "abcd_output_postfit_binbybin"

Systematic: "PrefitBinbybin"
  Title: "Prefit Binbybin"
  Type: HISTO
  Samples: Multijets
  Category: "Shape"
  Regions: VR_A_ljet_pt, VR_A_jet_pt, VR_A_VLQM, VR_A_ljet_eta, VR_A_ljet_m, VR_A_jet_m
  %Symmetrisation: ONESIDED
  HistoFileDown: "abcd_output_prefit_binbybin"

%Systematic: "DijetsClosure"
%  Title: "Multijet Closure"
%  Type: HISTO
%  Samples: Multijets
%  Category: "Shape"
%  Regions: VR_A_ljet_pt, VR_A_jet_pt, VR_A_VLQM, VR_A_ljet_eta, VR_A_ljet_m, VR_A_jet_m
%  %Symmetrisation: ONESIDED
%  HistoFileDown: "abcd_output_dijets_closure_uncertainity"

Systematic: "Crossection"
  Title: "Cross-section"
  Type: HISTO
  Samples: Multijets
  Category: "Shape"
  Regions: VR_A_ljet_pt, VR_A_jet_pt, VR_A_VLQM, VR_A_ljet_eta, VR_A_ljet_m, VR_A_jet_m
  Symmetrisation: ABSMEAN
  HistoFileUp: "abcd_output_postfit_binbybin_crossection_up"
  HistoFileDown: "abcd_output_postfit_binbybin_crossection_down"

Systematic: "EigenvarsB"
  Title: "Eigenvars B"
  Type: HISTO
  Samples: Multijets
  Category: "Shape"
  Regions: VR_A_ljet_pt, VR_A_jet_pt, VR_A_VLQM, VR_A_ljet_eta, VR_A_ljet_m, VR_A_jet_m
  Symmetrisation: ABSMEAN
  HistoFileUp: "abcd_output_postfit_binbybin_eigenvars_B_up"
  HistoFileDown: "abcd_output_postfit_binbybin_eigenvars_B_down"

Systematic: "EigenvarsC"
  Title: "Eigenvars C"
  Type: HISTO
  Samples: Multijets
  Category: "Shape"
  Regions: VR_A_ljet_pt, VR_A_jet_pt, VR_A_VLQM, VR_A_ljet_eta, VR_A_ljet_m, VR_A_jet_m
  Symmetrisation: ABSMEAN
  HistoFileUp: "abcd_output_postfit_binbybin_eigenvars_C_up"
  HistoFileDown: "abcd_output_postfit_binbybin_eigenvars_C_down"

Systematic: "EigenvarsLight"
  Title: "Eigenvars Light"
  Type: HISTO
  Samples: Multijets
  Category: "Shape"
  Regions: VR_A_ljet_pt, VR_A_jet_pt, VR_A_VLQM, VR_A_ljet_eta, VR_A_ljet_m, VR_A_jet_m
  Symmetrisation: ABSMEAN
  HistoFileUp: "abcd_output_postfit_binbybin_eigenvars_Light_up"
  HistoFileDown: "abcd_output_postfit_binbybin_eigenvars_Light_down"

Systematic: "Extrapolation"
  Title: "Extrapolation"
  Type: HISTO
  Samples: Multijets
  Category: "Shape"
  Regions: VR_A_ljet_pt, VR_A_jet_pt, VR_A_VLQM, VR_A_ljet_eta, VR_A_ljet_m, VR_A_jet_m
  Symmetrisation: ABSMEAN
  HistoFileUp: "abcd_output_postfit_binbybin_extrapolation_up"
  HistoFileDown: "abcd_output_postfit_binbybin_extrapolation_down"

Systematic: "Extrapolationfromcharm"
  Title: "Extrapolation from charm"
  Type: HISTO
  Samples: Multijets
  Category: "Shape"
  Regions: VR_A_ljet_pt, VR_A_jet_pt, VR_A_VLQM, VR_A_ljet_eta, VR_A_ljet_m, VR_A_jet_m
  Symmetrisation: ABSMEAN
  HistoFileUp: "abcd_output_postfit_binbybin_extrapolation_from_charm_up"
  HistoFileDown: "abcd_output_postfit_binbybin_extrapolation_from_charm_down"